        body {
            background-color: rgb(235, 226, 226);
        }
        
        .all-img-one {
            display: flex;
            justify-content: space-between;
            gap: 50px;
        }
        
        .all-card {
            background-color: white;
            display: inline-block;
            margin: 20px;
        }
        
        .section-tow {
            display: flex;
            justify-content: left;
        }
        
        .product {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: box-shadow 0.3s;
        }
        
        .product img {
            width: 180px;
            border-radius: 12px;
            gap: 50px;
            margin: 12px;
        }
        
        .product-list h4 {
            color: rgb(248, 155, 26);
        }
        
        .all-card h1 {
            color: rgb(248, 155, 26);
        }
        
        .product button {
            border-radius: 23px;
            background-color: rgb(248, 155, 26);
            padding: 12px;
            margin: 0;
        }
        
        .section-tow {
            background-color: white;
            width: 210px;
            border-radius: 12px;
        }
        
        .section-ok img span {
            text-align: center;
        }
        
        .product button img {
            text-align: center;
            width: 20px;
        }
        
        .product button {
            font-size: 89%;
        }
        
        .modal {
            position: fixed;
            display: none;
            background-color: rgb(171, 160, 160);
            top: 0;
            left: 0;
            border-radius: 12px;
        }
        
        .Card-last {
            background-color: white;
        }
        
        .section-confirmModal {
            display: inline-flex;
            flex-direction: column;
            margin: 10px;
            position: absolute;
        }
        
        .Card-last {
            width: 200px;
            height: auto;
        }